.recognition-section{
    width: 99vw;
    height: 60vh;
    font-family: "Inter", sans-serif;
}

.recognition-frame{
    width: 75rem;
    height: 100%;
    margin: 0 auto;
    display: flex; align-items: end;
}

.rec-image{
    width: 50%;
    height: 85%;
    display: flex; align-items: center; justify-content: center;
}

.rec-image img{
    height: 100%;
}

.rec-desc{
    width: 50%;
    height: 80%;
    display: flex; justify-content: center; flex-direction: column;
}

.rec-desc h2{
    color: black;
    font-size: 2.2rem;
    line-height: normal;
    margin: 0px 0px 0px 0px;
}

.rec-desc p{
    color: rgba(0, 0, 0, 0.752);
}