.landing-tittle{
    width: 100%;
    height: 14rem;
    text-align: center;
    font-family: "Inter", sans-serif; font-size: 16px; display: flex; flex-direction: column; gap: 0.7rem;
}

.landing-tittle h1{
    color: black;
    font-size: 2.6rem;
    margin-bottom: 0px;
}

.landing-tittle p{
    color: rgba(0, 0, 0, 0.597);
    width: 70%; margin: 0 auto;
    font-size: 1.2rem;
    margin-top: 0px;
}