.login-container {
  display: flex; justify-content: center; align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.login-form {
  background-color: white;
  padding: 2.5rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 20rem;
  display: flex; flex-direction: column;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(24, 104, 219);
}

.login-form label {
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

.login-form input:focus {
  border-color: #1e3a8a;
}

.login-form button {
  padding: 10px;
  background-color: rgb(24, 104, 219);
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #4886ea;
}

.register-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
}

.register-link span {
  color: rgb(24, 104, 219);
  cursor: pointer;
  font-weight: bold;
}

.success-msg{
    color: #1E7E34;
    text-align: center;
}

.error-msg{
    color: #C82333;
    text-align: center;
}

.backgroundImg1{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 23%;
}

.backgroundImg2{
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 23%;
}