.navbar-containter{
    width: 100%;
    height: 4rem;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    display: flex;
}

.navbar-utils{
    width: 50%;
    display: flex; justify-content: end; gap: 9px;
    position: relative;
}

.navbar-logo-wrap{
    width: 15%;
    display: flex; align-items: center; justify-content: center;
}

.navbar-logo-wrap img{
    height: 60%;
}

.navbar-utils a{
    width: 10%;
    color: rgb(36, 36, 36);
    display: flex; align-items: center; justify-content: center;
    cursor: pointer;    
}

.navbar-utils a:hover{
    color: rgb(24, 104, 219);
}

.features-dropdown{
    position: absolute;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 1rem;
    width: 30%;
    height: 10rem;
    top: 98%;
    left: 46%;
    background-color: white;
    display: flex; flex-direction: column; justify-content: center; gap: 5px;
}

.features-dropdown a{
    width: 60%;
    color: rgb(36, 36, 36);
}

.fa-caret-down, .fa-caret-up{
    padding-left: 8px;
    padding-top: 3px;
}


.navbar-login{
    width: 50%;
    display: flex; justify-content: center; align-items: center; gap: 2rem;
    color: rgb(49, 49, 49);
}

.navbar-login button{
    width: 15%;
    height: 70%;
    border-radius: 2rem;
    border: none;
    background-color: rgb(24, 104, 219); color: white;
    font-weight: 600; font-size: 0.9rem;
    cursor: pointer;
}

.navbar-login button:hover{
    background-color: rgb(16, 71, 148);
}

.navbar-login i{
    font-size: 1.2rem;
    cursor: pointer;
}

.navbar-login i:hover{
    color: rgb(16, 71, 148);
}

.navbar-login a{
    color: rgb(24, 104, 219);
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
}

.navbar-login a:hover{
    color: rgb(16, 71, 148);
}
