* {
  box-sizing: border-box;
}

.hero-section {
  min-height: 100vh;
  /* background: linear-gradient(135deg, #eef4ff, #f8fbff); */
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #1868db;
    font-family: "Inter", sans-serif;
}

.frame {
  width: 75rem;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.frame img{
  position: absolute;
  width: 50%;
  left: 55%;
  z-index: 1;
}

.hero-background-box{
  width: 19%;
  height: 20%;
  /* background-color: #f7b42e; */
  position: absolute;
  transform: rotate(-4deg);
  top: 8%;
  left: -0.5%;
  z-index: 1;
  border-radius: 5px;

}

.hero-content {
  flex: 1 1 500px;
}

.hero-content h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #ffffff;
  font-weight: 800;
  z-index: 100;
  position: sticky;
}

.hero-content h1 span{
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px rgb(57, 57, 57);
}

.hero-content p {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 2rem;
  max-width: 520px;
  font-weight: 500;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: none;
}

.btn.primary {
  background-color: #f7b42e;
  color: rgb(255, 255, 255);
  border:  none;
  font-weight: 600;
}

.btn.outline {
  background-color: white;
  color: rgb(24, 104, 219);
  font-weight: 600;
  border: 2px solid rgb(24, 104, 219);
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(24, 104, 219, 0.4);
}

.hero-illustration {
  flex: 1 1 500px;
  z-index: 3;
}

.mock-board {
  display: flex;
  gap: 1rem;
  transform: scale(0.9);
}

.column {
  background: white;
  border-radius: 12px;
  padding: 16px;
  flex: 1;
  box-shadow: 0 10px 25px rgba(0,0,0,0.06);
}

.column h4 {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #111827;
}

.task {
  background: #eef2ff;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 6px;
  font-size: 0.9rem;
  color: black;
}

.task.done {
  opacity: 0.6;
  text-decoration: line-through;
}

@media (max-width: 900px) {
  .frame {
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-content h1 {
    font-size: 2.2rem;
  }

  .hero-illustration {
    width: 100%;
    margin-top: 2rem;
  }

  .mock-board {
    flex-direction: column;
  }
}
